In [12]:
import pandas as pd

In [13]:
df1 = pd.read_csv('WSJ_CompoundScore.csv')
df2 = pd.read_csv('Fortune_CompoundScore.csv')
df3 = pd.read_csv('CNBC_CompoundScore.csv')

In [14]:
print(df1.head(),"\n")
print(df2.head(),"\n")
print(df3.head(),"\n")

   Unnamed: 0        date               category  \
0           0  01/12/2017   Financial Regulation
1          54  02/12/2017               Business
2          84  03/12/2017          Central Banks
3         102  04/12/2017          Central Banks
4         144  05/12/2017          Central Banks

                                       article title  compound score
0  Obama-Era Official Will Continue Litigation to...         -0.0082
1  Why Bitcoin? Why Now?, Hospital Giants in Talk...         -0.6760
2  RBA’s Harper Says 5% Likely Not Tipping Point ...         -0.8658
3  Bitcoin Futures Manipulation 101: How ‘Banging...          0.7993
4  Theranos Gets a Financial Lifeline , Tax Overh...         -0.7342

   Unnamed: 0        date   category  \
0           0  01/12/2017   Finance
1           2  04/12/2017   Finance
2           7  05/12/2017   Finance
3          11  06/12/2017   Finance
4          17  07/12/2017   Finance

                                       article title  compound score
0  Stocks Slide on Wall Street After Michael Flyn...         -0.4215
1  Calm Down. Cryptocurrency Is Still a Microscop...          0.5859
2  Why Wall Street Is Skeptical of the CVS-Aetna ...         -0.3182
3  Bitcoin Is Such a Frenzy in South Korea That I...          0.0772
4  This Is the Real Reason the Stock Market Needs...          0.9943

   Unnamed: 0        date category  \
0           0  01/12/2017  Markets
1           6  03/12/2017  Markets
2           7  04/12/2017  Markets
3          12  05/12/2017  Markets
4          22  06/12/2017  Markets

                                       article title  compound score
0  CME to launch bitcoin futures in three weeks a...         -0.8126
1  Bitcoin hits all-time high above $11,700 as re...          0.0000
2  Cboe announces bitcoin futures to start tradin...          0.4767
3  European shares close lower amid Brexit uncert...         -0.6597
4  H&R Block shares rally after CEO says a changi...          0.2732

In [15]:
df1 = df1.drop(columns=['Unnamed: 0','category','article title'])
df2 = df2.drop(columns=['Unnamed: 0','category','article title'])
df3 = df3.drop(columns=['Unnamed: 0','category','article title'])
# df1.head()
df3.head()

         date  compound score
0  01/12/2017         -0.8126
1  03/12/2017          0.0000
2  04/12/2017          0.4767
3  05/12/2017         -0.6597
4  06/12/2017          0.2732

In [16]:

# Convert the 'date' column to datetime type
# df1['date'] = pd.to_datetime(df1['date'])
# df2['date'] = pd.to_datetime(df2['date'])

merged_12 = pd.merge(df1, df2, on='date', how='outer')
merged_final = pd.merge(merged_12, df3, on='date', how='outer')

merged_final = merged_final.fillna(0)
merged_final = merged_final.rename(columns={'compound score_x':'WSJ','compound score_y':'Fortune','compound score':'CNBC'})

In [17]:
merged_final.head()

         date     WSJ  Fortune    CNBC
0  01/12/2017 -0.0082  -0.4215 -0.8126
1  02/12/2017 -0.6760   0.0000  0.0000
2  03/12/2017 -0.8658   0.0000  0.0000
3  04/12/2017  0.7993   0.5859  0.4767
4  05/12/2017 -0.7342  -0.3182 -0.6597

In [19]:
merged_final.to_csv('merged_df.csv',index=False)